---
import Layout from '~/layouts/Layout.astro';
import { getHomePermalink } from '~/utils/permalinks';

const title = `Erreur 404`;
---

<Layout metadata={{ title }}>
  <section class="flex items-center h-full p-16">
    <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
      <div class="max-w-md text-center">
        <h2 class="mb-8 font-bold text-9xl">
          <span class="sr-only">Erreur</span>
          <span class="text-primary">404</span>
        </h2>
        <p class="text-3xl font-semibold md:text-3xl">Désolé, nous n'avons pas pu trouver la page demandée.</p>
        <p class="mt-4 mb-8 text-lg text-muted dark:text-slate-400">
          Il est possible qu'elle ait été supprimée, renommée ou qu'elle soit temporairement indisponible.
        </p>
        <a rel="noopener noreferrer" href={getHomePermalink()} class="btn ml-4">Retourner à la page d'accueil</a>
      </div>
    </div>
  </section>
</Layout>
